name: ci

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0

    - name: Patch codes
      run: |
        cd BedrockConnect
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git am < ../0001-srv-patch.patch

    - name: Set up OpenJDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        cache-dependency-path: BedrockConnect/serverlist-server/pom.xml

    - name: Build with maven
      run: |
        cd BedrockConnect/serverlist-server
        mvn -B package
        cp -f target/BedrockConnect-1.0-SNAPSHOT.jar ../..

    - name: Set up environment variables
      id: vars
      shell: bash
      run: |
        SHORT_SHA=$(git rev-parse --short HEAD)
        echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT
        cd BedrockConnect/serverlist-server
        TAG_NAME=$(git tag --points-at HEAD)
        echo "TAG_NAME=$TAG_NAME" >> $GITHUB_OUTPUT
        ARTIFACT_NAME="BedrockConnect-$TAG_NAME+$SHORT_SHA"
        echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> $GITHUB_OUTPUT
        echo "Artifact name will be: $ARTIFACT_NAME"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.vars.outputs.ARTIFACT_NAME }}
        path: |
          config.yml
          LICENSE
          server.json
          zh_CN.json
          BedrockConnect-1.0-SNAPSHOT.jar
        if-no-files-found: error
